html {
    scroll-behavior: smooth;
}


/* Basic Reset */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('Images/Background/background_3.jpg') no-repeat center center fixed; 
    background-size: cover; /* Ensure the image covers the entire screen */
}

#hacettepe-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5); /* Scale to 50% */
    transform-origin: top left; /* Ensure scaling origin is top right */
}


.inline-container {
    display: flex;
    align-items: center;
}



#inline-container-huggingface{
    justify-content: space-between;
}

#inline-container-huggingface p {
    max-width: 75%;
}



.button-link {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007bff;;
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
    border-radius: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px; /* Add some space between the paragraph and the link */
}

.button-link:hover {
    background-color: #007bff;;
    color: white;
}

#button-link-youtube {
    border: 2px solid red;;
    color: red;
}

#button-link-youtube:hover {
    background-color: red;
    color: white;
}

#button-link-poster {
    border: 2px solid blue;;
    color: blue;
}

#button-link-poster:hover {
    background-color: blue;
    color: white;
}


#button-link-drive{
    border: 2px solid green;;
    color: green;
}

#button-link-drive:hover{
    background-color: green;
    color: white;
}


#huggingface-container{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50%;
}


#button-link-huggingface {

    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 20px 20px;
    border: 2px solid #FFD21E;
    color: #FFD21E;
    font-size: 32px;

}

#button-link-huggingface img {
    margin-left: 8px;
    height: 60px; /* Adjust this value based on the size of your image */
}

#button-link-huggingface:hover {
    background-color: #FFD21E;
    color: white;
}






/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto:wght@400;500&display=swap');

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 48px; /* Reduced font size */
    color: #0056b3;
    margin-bottom: 20px; /* Added margin for spacing */
    background: linear-gradient(to bottom, #999999, #dddddd); /* Gradient color */
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px #000; /* Adding contour effect */
}

h2 {
    font-size: 36px; /* Reduced font size */
    color: #007bff;
}

h3 {
    font-size: 32px; /* Reduced font size */
    color: #007bff;
}

h4 {
    font-size: 24px;
    color: #666666;
}

#abstract{
    font-size: 24px;
    color: #666666;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#bertweet-header {
    font-size: 24px;
    color: #666666;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#tubitak-header {
    font-size: 24px;
    color: #666666;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#apify-header {
    font-size: 24px;
    color: #666666;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}


p {
    font-size: 20px; /* Reduced font size */
}

/* Header */
header h1{
    font-size: 2em;
}


header {
    /*background: rgba(0, 102, 255, 0.8); /* Semi-transparent background */
    font-size: 2em;
    color: white;
    padding: 20px 10%;
    text-align: center;
    margin-bottom: 15px;
}

/* Navigation Bar */
nav {
    position: sticky; 
    top: 0; /* Align to top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it is on top */
}

nav ul {
    list-style-type: none;
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: center; /* Center the items */
    padding: 10px 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    font-size: 18px; /* Reduced font size */
    background-color: #007bff;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Sections */
section {
    padding: 20px 10%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px 0;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Cards */
.card {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;

    margin: 20px 10px;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* Team Section */
.team-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#team-info {
    max-width: 50%; /* Restrict text to 50% of the section */
}


/* Project Section */
.project-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.left-content,
.right-content {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.left-content {
    padding-right: 30px; /* Add some padding to the right to make space for the vertical line */
}

.right-content {
    padding-left: 30px; /* Add some padding to the left to make space for the vertical line */
}

.project-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: #007bff; /* Vertical line color */
    transform: translateX(-50%);
}

.project-info,
.project-info-extra {
    margin-bottom: 20px;
}

.right-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; /* Add some space below the image */
}





.team-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team-member {
    text-align: center;
}

.team-images img {
    width: 200px; /* Reduced image size */
    height: 200px; /* Reduced image size */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member p {
    margin-top: 10px;
    font-size: 18px; /* Reduced font size */
    font-weight: bold;
}

.bottom-images {
    display: flex;
    gap: 80px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}
/*
@media only screen and (max-width: 1024px) {
    #hacettepe-logo{
        transform: scale(0.3);
    }
    header h1 {
        font-size: 32px;; 
    }
}
*/

@media only screen and (max-width: 1024px){
    #hacettepe-logo {
    
        transform: scale(0.3); /* Scale to 50% */
        transform-origin: top left; /* Ensure scaling origin is top right */
    }
    p{
        font-size: 18px;
    }

    header h1{ 
        font-size: 40px;
        margin-top: 32px;
    }

    nav {
        display: none;
    }

    

    .team-member{
        margin-bottom: 20px;
    }


    .team-images img {
        width: 180px; /* Reduced image size */
        height: 180px; /* Reduced image size */
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .inline-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inline-container p{
        max-width: 100%;
    }

    #inline-container-huggingface p{
        max-width: 100%;
    }

    .button-link {
 
        padding: 10px 20px;
        border: 2px solid #007bff;;
        background-color: #007bff;;
        color: white;
        
    }

    #button-link-huggingface {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 20px 20px;
        background-color: #FFD21E;
        color: white;
        font-size: 22px;
    
    }

    #button-link-huggingface img {
        display: none;
     
    }

    #button-link-youtube{
      
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        color: white;
        margin-bottom: 20px;
       
    }    

    #button-link-youtube p{
      font-size: 20px;
      
       
    }    


    #button-link-poster{
      
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        color: white;
        margin-bottom: 20px;
       
    }    

    #button-link-poster p{
      font-size: 20px;
      
       
    }  

    
    #button-link-huggingface img {
        margin-left: 8px;
        height: 60px; /* Adjust this value based on the size of your image */
    }

    #button-link-github{
        margin-top:10px;
        margin-bottom: 15px;
    }

    #button-link-drive{
        margin-top:15px;
        margin-bottom: 10px;
        background-color: green;
        color: white;
    }
    

    
    header nav ul {
        padding-top: 20px;
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        padding: 20px;
    }

    .team-content {
        flex-direction: column;
    }

    

    .team-content p {
        max-width: 100%; /* Allow text to expand full width on smaller screens */
    }

    #team-info{
        max-width: 100%;
    }

    .team-image{
        width: 20px;
    }

    .team-images {
        margin-top: 20px;
        
    }


    .project-container {
        flex-direction: column;
    }

    .left-content,
    .right-content {
        width: 100%;
        padding: 10px;
    }

    .left-content{
        display: flex;
        flex-direction: column;
    }

    .project-container::before {
        display: none; /* Remove the vertical line on smaller screens */
    }



   
}


/* Responsive Design */
@media only screen and (max-width: 768px) {
    p{
        font-size: 16px;
    }

    header h1{ 
        font-size: 32px;
        margin-top: 32px;
    }

    nav {
        display: none;
    }

    .bottom-images {
        display: block;
    }

    .team-member{
        margin-bottom: 20px;
    }



    .team-images img {
        width: 150px; /* Reduced image size */
        height: 150px; /* Reduced image size */
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .inline-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inline-container p{
        max-width: 100%;
    }

    #inline-container-huggingface p{
        max-width: 100%;
    }

    .button-link {
 
        padding: 10px 20px;
        border: 2px solid #007bff;;
        background-color: #007bff;;
        color: white;
        
    }

    #button-link-huggingface {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 20px 20px;
        background-color: #FFD21E;
        color: white;
        font-size: 22px;
    
    }

    #button-link-huggingface img {
        display: none;
     
    }

    #button-link-youtube{
      
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        color: white;
        margin-bottom: 20px;
       
    }    

    #button-link-youtube p{
      font-size: 20px;
      
       
    }    

    #button-link-poster{
      
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        color: white;
        margin-bottom: 20px;
       
    }    

    #button-link-poster p{
      font-size: 20px;
      
       
    }    


    
    #button-link-huggingface img {
        margin-left: 8px;
        height: 60px; /* Adjust this value based on the size of your image */
    }

    #button-link-github{
        margin-top:10px;
        margin-bottom: 15px;
    }

    #button-link-drive{
        margin-top:15px;
        margin-bottom: 10px;
        background-color: green;
        color: white;
    }
    

    
    header nav ul {
        padding-top: 20px;
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        padding: 20px;
    }

    .team-content {
        flex-direction: column;
    }

    

    .team-content p {
        max-width: 100%; /* Allow text to expand full width on smaller screens */
    }

    #team-info{
        max-width: 100%;
    }

    .team-image{
        width: 20px;
    }

    .team-images {
        margin-top: 20px;
        
    }


    .project-container {
        flex-direction: column;
    }

    .left-content,
    .right-content {
        width: 100%;
        padding: 10px;
    }

    .left-content{
        display: flex;
        flex-direction: column;
    }

    .project-container::before {
        display: none; /* Remove the vertical line on smaller screens */
    }



    #hacettepe-logo {
    
        transform: scale(0.2); /* Scale to 50% */
        transform-origin: top left; /* Ensure scaling origin is top right */
    }

}



@media only screen and (max-width: 480px) {
    
    header h1{
        margin-top: 20px;
    }
    

    #hacettepe-logo{
        transform: scale(0.2); 
        transform-origin: top left; 
    }

    #button-link-huggingface {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 14px 14px;
        background-color: #FFD21E;
        color: white;
        font-size: 18px;
    
    }


}

